.venv_mpvis/
.github/
.vscode/
jupyter_test/
migrations/
*.ipynb
some_cray_labels.csv
some_cray_numeric.csv
summary-statistics/
models/*
!models/semi-supervised/PCA_data.csv
!models/semi-supervised/TSNE_data.csv
!models/semi-supervised/UMAP_data.csv
datasets_test
data/
.github/
inconsistencies_by_year.csv
latex_output.tex
latexAccuracyScore.ipynb
our_new_selection_inconsistencies.csv
outliers.csv
test_get_structural_data.ipynb
JupyterNotebookTest.ipynb
doc.txt
DB.json
celerybeat-schedule